* {
    font-family: "Roboto", sans-serif;
}
body {
    background-color: #fff8f1;
}
.wrapper {
    width: calc(100% - 30px);
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 50px;
}

.logo {
    align-self: center;

    cursor: pointer;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.main-nav ul {
    list-style: none;
    position: absolute;
    width: 100%;
    background-color: #fff8f1;
    top: 80px;
    right: 0;
    z-index: +1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
.main-nav ul li a {
    color: #0d0d0d;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    padding: 20px 0;
    display: block;
    font-size: 18px;
    transition: 0.3s ease-in-out;
}

.logo h2 {
    font-weight: 700;
    color: #063c7b;
    margin: 0;
}
.logo h2 span {
    color: #f05830;
}
.menu-icon {
    align-self: center;
}
.menu-icon img {
    width: 35px;
}
.block404 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.block404 img {
    max-width: 95%;
}
@media screen and (min-width: 720px) {
    .wrapper {
        width: calc(100% - 100px);
    }
    .menu-icon {
        display: none;
    }
    .main-nav {
        height: 100px;
    }
    ._mnvd {
        display: block !important;
        align-self: center;
    }
    .main-nav ul {
        position: static;
        width: 100%;
        background-color: transparent;
        top: none;
        right: none;
        flex-direction: row;
        padding: 0px;
    }
    .main-nav ul li a {
        color: #807d7d;
        padding: 10px 25px;
        font-size: 15px;
    }
    .main-nav ul li a:hover {
        color: #0d0d0d;
    }
    .block404 img {
        max-width: 55%;
    }
}
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(95, 94, 94);
    border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44);
}
